<h1> Ask me a question </h1>
<div class="mb-3">
  <form action="/answer" method="get" data-turbo="false">
    <label class="form-label" for="ask">Please type your question here: </label>
    <div class= "d-flex">
      <input type="text"  class="form-control" name="answer" id= "ask" placeholder="question">
      <input type="submit" class="btn btn-primary" value="Ask!">
    </div>
  </form>
</div>
